
#puzzle {
/*   padding-left: 100px;
  margin-left: 100px; */
}

figure {
  border:5px solid black;
  float: left;
  position: relative;
  display: inline-block;

  width: 1200px;
  height: 800px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 0px;
  overflow: hidden;
}

#ui{
  border:1px solid black;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}