html {
    background: url(../img/backgrounds/sky-sunny-clouds-cloudy.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/* Force outer div to expand according to growing size of inner div*/
.clearfix {
    position: relative;

    overflow: hidden;

    background: #f7f7f7 url(../img/backgrounds/bg.png) repeat center top;
}

#puzzle {
    position: relative;
    z-index: 10;

    width: 730px;
    margin: auto;
    margin-top: 120px;
    padding: 5px;

    border: 1px solid #aaa;
    border-radius: 5px;
}

#puzzle figure {
    position: relative;

    float: left;

    width: 510px;
    height: 676px;
    margin: 0;
    padding: 0;

    border: 0;
    border: 1px solid #aaa;
}

#ui {
    position: relative;

    float: left;

    width: 200px;
    padding: 10px 0 0 10px;
}

.ui-draggable
{
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
            animation: mymove 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    25%
    {
        box-shadow: 10px 20px 30px black;
    }
}

/* Standard syntax */
@keyframes mymove {
    25%
    {
        box-shadow: 10px 20px 30px black;
    }
}
