
.icon-play-1:before { content: '\e801'; } /* '' */
.icon-play-circled2:before { content: '\e802'; } /* '' */
.icon-off:before { content: '\e803'; } /* '' */
.icon-stop:before { content: '\e804'; } /* '' */
.icon-ccw:before { content: '\e805'; } /* '' */